{% extends "layout.html" %}
{% block title %}Change Password - SH&L{% endblock %}
{% block styles %}
{{super()}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Shadows+Into+Light&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
{% for category, message in change_password_flashes.items() %}
    {% set alert_type = alert_types[category] if category in alert_types else 'info' %}
    <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
<div class="position-static d-block p-4 py-md-5">
    <div class="">
        <form action="{{ url_for('authUser_views.changePassword') }}" method="post">
            <img class="mb-2" src="../static/img/shlLogo.png" alt="Sprightly Homeschool's Logo" width="135" height="57">
            <h1 class="h3 mb-3">Change your password</h1>
            <hr class="my-4">
            <div class="form-floating mb-1">
                <input autocomplete="off" type="password" class="form-control" id="resetOldPassword" name="oldPassword">
                <label class="changePasswordLabel" for="resetOldPassword">Old Password</label>
            </div>
            <div class="form-floating mb-1">
                <input autocomplete="off" type="password" class="form-control" id="resetPassw" name="newPassword">
                <label class="changePasswordLabel" for="resetPassw">New Password</label>
            </div>
            <div class="form-floating mb-1">
                <input autocomplete="off" type="password" class="form-control" id="confirmPassword" name="confirmation">
                <label class="changePasswordLabel" for="confirmPassword">Confirm Password</label>
            </div>
            <hr class="my-4">
            <button class="btn btn-lg btn-outline-info shadow-lg py-1" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}